/*--------------------------------------*
* header
*--------------------------------------*/

@use "./../foundation/variable"as *;

.l-header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background: $color-green;
  border-bottom-left-radius: 60% 65px;
  border-bottom-right-radius: 40% 40px;


  &__upper {
    display: flex;
    align-items: center;
    height: 64px;
  }

  &__headline01 {
    margin-left: 50px;
  }

  &__lower {
    position: relative;
    height: 125px;
    margin-bottom: 16px;
  }
}