/*--------------------------------------*
* z-index
*--------------------------------------*/

@use "../../foundation/variable"as *;
.z-index-20 {
  z-index: 20;
}

.z-index-10 {
  z-index: 10;
}

.z-index-5 {
  z-index: 5;
}