/*--------------------------------------*
* button
*--------------------------------------*/

@use "../../foundation/variable"as *;

.c-to-top {
  width: 64px;
  height: 64px;
  img {
    width: 100%;
    height: 100%;
  }
}